p.admonition-title {
    position: relative;
    margin: -0.8rem -0.6rem 0.8em -0.6rem!important;
    padding: 0.7rem 0.6rem 0.7rem 1.5rem;
    font-weight: 700;
    background-color: rgba(66,185,131,.1);
}

.admonition {
    font-size: .9em!important;
	line-height: 2;
}

.admonition {
    margin: 1.5625em 0;
    padding: 0.6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: 0.3rem solid #42b983;
    border-radius: 0.3rem;
    background-color: #fafafa;
}


p.admonition-title-blue {
    position: relative;
    margin: -0.8rem -0.6rem 0.8em -0.6rem!important;
    padding: 0.7rem 0.6rem 0.7rem 1.5rem;
    font-weight: 700;
    background-color: rgba(0,185,222,.1);
}

.admonition-blue {
    font-size: .9em!important;
	line-height: 2;
}

.admonition-blue {
    margin: 1.5625em 0;
    padding: 0.6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: 0.3rem solid #00b8d4;
    border-radius: 0.3rem;
    background-color: #fafafa;
}

.note {
    padding: 0.75rem;
    border-left: 0.35rem solid;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    color: #3c4858;
    transition: color 0.2s ease-in-out;
    font-size: 0.9rem;
}

body > footer > div.beian > span:nth-child(1) > a{
    color:#ddd;
}

body > footer > div.beian > span:nth-child(2) > a > span:nth-child(1){
    color:#ddd;
}

body > footer > div.beian > span:nth-child(2) > a > span:nth-child(3){
    color:#ddd;
}
