p.admonition-title {
    position: relative;
    margin: -0.8rem -0.6rem 0.8em -0.6rem!important;
    padding: 0.7rem 0.6rem 0.7rem 1.5rem;
    font-weight: 700;
    background-color: rgba(66,185,131,0.1);
}

.admonition {
    margin: 1.5625em 0;
    padding: 0.6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: 0.3rem solid #42b983;
    border-radius: 0.3rem;
    box-shadow: 0 .1rem .4remrgba(0,0,0,.05),0 0 .05remrgba(0,0,0,.1);
    background-color: #fafafa;
    line-height: 2;
}

p.admonition-title-blue {
    position: relative;
    margin: -0.8rem -0.6rem 0.8em -0.6rem!important;
    padding: 0.7rem 0.6rem 0.7rem 1.5rem;
    font-weight: 700;
    background-color: rgba(0,185,222,0.1);
}

.admonition-blue {
    margin: 1.5625em 0;
    padding: 0.6rem;
    overflow: hidden;
    font-size: .64rem;
    page-break-inside: avoid;
    border-left: 0.3rem solid #00b8d4;
    border-radius: 0.3rem;
    box-shadow: 0 .1rem .4remrgba(0,0,0,0.05),0 0 .05remrgba(0,0,0,0.1);
    background-color: #fafafa;
    line-height: 2;
}

.note {
    padding: 0.75rem;
    border-left: 0.35rem solid;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    color: #3c4858;
    transition: color 0.2s ease-in-out;
    font-size: 0.9rem;
}

